.answer{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 5px;
    margin: 5px;
}
.answer h4{
    background-color: rgba(0, 255, 255, 0.368);
    padding: 5px;
    border-radius: 8px;
    padding-bottom: 30px;

}